<%= render "subheader" %>

<%= form_tag({:action => "events"}, :method => :get) do %>
    Показать события с №<%= text_field_tag("from", @params["from"], :maxlength => 10) %>
    общим количеством <%= text_field_tag("qty", @params["qty"], :maxlength => 10) %>
    <%= submit_tag("Сохранить") %>
<% end %>
<br>
<table border=1>
    <tbody>
        <tr>
            <th>Заголовок</th>
            <th>Локация</th>
            <th>Объекты</th>
            <th>Кто сообщил</th>
            <th>Важность</th>
            <th>Известно по игре?</th>
            <th>Создатель события</th>
            <th>Дата создания события</th>
            <th>Последний редактировавший</th>
            <th>Дата последнего редактирования</th>
            <th>Тэги</th>
        </tr>
        <% for row in @params["events"] %>
            <tr>
                <td>
                    <% if session[:userroles].include? "W" %>
                        <% ctrl = "writer" %>
                    <% else %>
                        <% ctrl = "reader" %>
                    <% end %>
                    <%= link_to row["title"], { :action => "event", :controller => ctrl, :id => row["id"] } %>
                </td>
                <td><%= row["location_name"] %></td>
                <td><%= row["objects"].map { |x| x["name"] }.join(", ") %></td>
                <td><%= row["reporter_name"] %></td>
                <td><%= row["importance"] %></td>
                <td><%= row["in_game"] == "t" ? "Да" : "Нет" %></td>
                <td><%= row["cr_name"] %></td>
                <td><%= row["cr_date"] %></td>
                <td><% color = (row["cr_date"] == row["up_date"])? "green": "red" %>
                        <font color=<%= color %>>
                        <%= row["up_name"] %>
                        </font>
                </td>
                <td><% color = (row["cr_date"] == row["up_date"])? "green": "red" %>
                    <font color=<%= color %>>
                        <%= row["up_date"] %>
                    </font>
                </td>
                <td><%= row["tags"].map { |x| x["name"] }.join(", ") %></td>

            </tr>
        <% end %>
    </tbody>
</table>
