<!--
##################################################################
Angband Informational Center
For First Age LARP (http://firstage2013.ru)
by Vladimir "Dair" Lebedev-Schmidthof <dair@albiongames.org>
Mk. Albion (http://albiongames.org)

Copyright (c) 2013 Vladimir Lebedev-Schmidthof
##################################################################

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0
This file is also provided in the root directory of this project
as LICENSE.txt

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<%= render "subheader" %>

<%= form_tag({:action => "events"}, :method => :get) do %>
    Показать события с №<%= text_field_tag("from", @params["from"], :maxlength => 10) %>
    общим количеством <%= text_field_tag("qty", @params["qty"], :maxlength => 10) %>
    <%= submit_tag("Сохранить") %>
<% end %>
<br>
<% if @params["filters"] %>
    Фильтр: события с 
    <% if @params["filters"]["objects"] %>
        объектом(ами): <%= @params["filters"]["objects"]["names"].join(", ") %><br>
    <% end %>
    <% if @params["filters"]["locations"] %>
        локации: <%= @params["filters"]["locations"]["names"].join(", ") %><br>
    <% end %>
<% end %>

<table border=1>
    <tbody>
        <tr>
            <th>Заголовок</th>
            <th>Локация</th>
            <th>Объекты</th>
            <th>Кто сообщил</th>
            <th>История</th>
            <th>Тэги</th>
        </tr>
        <% for row in @params["events"] %>
            <tr>
                <td>
                    <% if session[:userroles].include? "W" %>
                        <% ctrl = "writer" %>
                    <% else %>
                        <% ctrl = "reader" %>
                    <% end %>
                    <%= link_to row["title"], { :action => "event", :controller => ctrl, :id => row["id"] } %>
                </td>
                <td><%= link_to row["location_name"], { :action => "location", :id => row["location_id"] }  %></td>
                <td><%= raw row["objects"].map { |x| link_to(x["name"], { :action => "object", :id => x["id"] }) }.join(", ") %></td>
                <td><%= row["reporter_name"] %></td>
                <td><span style="white-space:nowrap;"><font size=-2><%= row["cr_name"] %>,&nbsp;<span class="timestamp"><%= row["cr_date"] %></span></span><br>
                    <span style="white-space:nowrap;"><% color = (row["cr_date"] == row["up_date"])? "green": "red" %>
                        <font color=<%= color %>>
                        <%= row["up_name"] %>,&nbsp;<span class="timestamp"><%= row["up_date"] %></span></font></span>
                </td>
                <td><%= row["tags"].map { |x| x["name"] }.join(", ") %></td>
            </tr>
        <% end %>
    </tbody>
</table>
