<!--
##################################################################
Angband Informational Center
For First Age LARP (http://firstage2013.ru)
by Vladimir "Dair" Lebedev-Schmidthof <dair@albiongames.org>
Mk. Albion (http://albiongames.org)

Copyright (c) 2013 Vladimir Lebedev-Schmidthof
##################################################################

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0
This file is also provided in the root directory of this project
as LICENSE.txt

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<table width="100%">
    <tbody>
        <tr>
            <td valign="top">
                <img src="/assets/site_name.png">
            </td>
            <td align="center" border="1">
                <h3><%= @subtitle %></h3>
            </td>
            <td valign="top" align="right">
                <% if @username.kind_of? String and @username.length > 0 %>
                    <%= form_tag(:controller => "application", :action => "logout") do %>
                        <%= @username %>&nbsp;<input type="submit" value="Выйти" name="Logout" />
                    <% end %>
                <% else %>
                    <%= form_tag(:controller => "application", :action => "login") do %>
                        <input type="hidden" id="timezone" name="timezone">
                        <input name="name" id="name" /><br>
                        <input name="password" id="password" type="password" /><br>
                        <input type="submit" value="Войти" name="Login" />
                    <% end %>
                <% end %>
            </td>
            <td align="right" width="300">
                <a href="http://madmax.su"><img src="http://lair.dair.spb.ru/mm-90.png"/></a>
            </td>
        </tr>
<% if @last_error %>
        <tr>
            <td colspan="3" rowspan="1">
                <font size="+1" color="red">
                    <ul>
                    <% if @last_error.kind_of? Array %>
                        <% for e in @last_error %>
                            <li><%= e %></li>
                        <% end %>
                    <% else %>
                        <li><%= @last_error %></li>
                    <% end %>
                    </ul>
                </font>
            </td>
        </tr>
<% @last_error = nil %>
<% end %>
    </tbody>
</table>
