<!--
##################################################################
Angband Informational Center
For First Age LARP (http://firstage2013.ru)
by Vladimir "Dair" Lebedev-Schmidthof <dair@albiongames.org>
Mk. Albion (http://albiongames.org)

Copyright (c) 2013 Vladimir Lebedev-Schmidthof
##################################################################

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0
This file is also provided in the root directory of this project
as LICENSE.txt

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<%= render "subheader" %>
<h2>Событие</h2>
<table width="100%">
    <tbody>
        <tr>
            <td align="right" width=10%>Заголовок:</td>
            <td align="left"><%= @event["title"] %></td>
        </tr>
        <tr>
            <td align="right">Объекты:</td>
            <td align="left"><%= raw @event["objects"].zip(@event["obj_ids"]).map { |name, id| link_to( name, { :action => "object", :id => id })}.join(", ") %></td>
            </td>
        </tr>
        <tr>
            <td align="right">Локация:</td>
            <td align="left"><%= link_to(@event["location"], { :action => "location", :id => @event["location_id"] }) %></td>
        </tr>
        <tr valign="top">
            <td align="right">Текст:</td>
            <td>
            <%= @event["description"] %></td>
        </tr>
        <tr>
            <td align="right">Источник:</td>
            <td align="left"><%= @event["reporter"] %></td>
        </tr>
        <tr>
            <td align="right">Тэги:</td>
            <td align="left"><%= @event["tags"].join(", ") %></td>
        </tr>
    </tbody>
</table>
